h1 {
    color: red;
}
h1, h2 {
    margin: 0;
}
.box {
    background-color: aqua;
    width: 400px;
    padding: 20px;
}
.title {
    color: red;
    margin-bottom: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    font-size: 18px;
}

.list:hover{
    color: blue;
}

.background{
    background-color: bisque;
}